/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
composer.lock
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/uploads/cards/badges/1841717603933.svg
public/uploads/cards/badges/1981717604037.svg
public/uploads/cards/badges/2161717603981.svg
public/uploads/cards/badges/3021717603493.svg
public/uploads/cards/badges/3301717603280.svg
public/uploads/cards/badges/3321717603506.svg
public/uploads/cards/badges/4181717604037.svg
public/uploads/cards/badges/4271717603981.svg
public/uploads/cards/badges/4301717603493.svg
public/uploads/cards/badges/4511717603280.svg
public/uploads/cards/badges/4621717603884.svg
public/uploads/cards/badges/4781717603319.svg
public/uploads/cards/badges/4831717602106.svg
public/uploads/cards/badges/5071717603809.svg
public/uploads/cards/badges/5991717603809.svg
public/uploads/cards/badges/6811717603933.svg
public/uploads/cards/badges/7241717604005.svg
public/uploads/cards/badges/7341717603506.svg
public/uploads/cards/badges/7631717602106.svg
public/uploads/cards/badges/8261717604005.svg
public/uploads/cards/badges/8511717603963.svg
public/uploads/cards/badges/8611717603963.svg
public/uploads/cards/badges/8921717603884.svg
public/uploads/cards/badges/9011717603319.svg
