    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
        box-sizing: border-box;
        font-weight: 500;
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: bold;
    }
    .company {
        color: #CB9025;
    }

    .hero-section {
        background-color: #2F0549;
        height: 520px;
        position: relative;
        z-index: 200;
    }

    .navbar {
        background-color: #2F0549;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar-nav .nav-link {
        color: #000;
        /* Set the default text color */
    }

    .navbar-right .btn-link, .navbar-right .btn-outline-warning{
        color: #000;
        font-size: 16px;
        font-weight: 500;
    }

    .navbar-right .btn-outline-warning {
        border-color: #000;
    }
    .navbar-nav .nav-link{
        position: relative;
    }
    .navbar-nav .nav-link:hover::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color: yellow;
    }


    .navbar img {
        float: left;
        padding: 10px;
        height: 50px;
        /* margin-left: 55px;  */
    }

    .navbar-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-right {
        /* float: right; */
        display: flex;
        align-items: center;
    }

    .navbar button {
        background-color: #2F0549;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        margin: 5px;
        cursor: pointer;
    }

    .dropdown-menu li a {
        color: #e09e24;
    }

    /* .sign-up-btn{
        background-color:  #2F0549;
        color: white;
    } */
    .navbar {
        min-height: 80px; /* Fixed height for the navbar */
    }
    .dropdown-menu {
        top: auto !important; /* Reset the top position to auto */
        left: 0 !important; /* Reset the left position to 0 */
        margin-top: 0 !important; /* Reset margin-top to 0 */
        margin-bottom: 0 !important; /* Reset margin-bottom to 0 */
    }
    
    .dropdown-menu li {
        margin-bottom: 10px; /* Add some space between list items */
        break-inside: avoid; /* Avoid breaking list items across columns */
    }
    
    .dropdown-menu li a {
        color: #000; /* Set text color */
        text-decoration: none; /* Remove underline */
        display: block;
        transition: background-color 0.3s ease-in-out; /* Add a transition for smoother appearance */
    }
    
    .dropdown-menu li a:hover {
        background-color: #f0f0f0; /* Add a subtle background color change on hover */
    }
    #service-dropdown {
        display: none; /* Initially hide the dropdown */
        position: absolute;
        top: calc(100% + 10px); /* Position below the dropdown toggle */
        left: 0;
        background-color: #fff; /* Set background color */
        padding: 15px;
        margin: 0;
        list-style: none;
        box-shadow: 0 2px 5px rgba(0,0,0,.1); /* Add a subtle shadow */
        opacity: 0; /* Initially hide the dropdown */
        transition: opacity 0.3s ease-in-out; /* Add a transition for smoother appearance */
        columns: 2; /* Display dropdown items in two columns */
        column-gap: 20px; /* Add some gap between columns */
        max-width: 400px; /* Set a maximum width for the dropdown */
    }
    
    .dropdown:hover #service-dropdown {
        display: block; /* Show the dropdown on hover */
        opacity: 1; /* Show the dropdown with a fade effect */
    }
    .navbar-nav .nav-item {
        width: 100px; /* Adjust width as needed */
    }
    .navbar-nav .nav-item {
        white-space: normal;
    }
    @media (max-width: 768px) {
        .navbar-nav .nav-item {
            width: auto; /* Reset width for smaller screens */
        }
    }
        
    .slider {
        margin-right: 0px;
    }

    .slider-text {
        color: #ffffff;
        margin-top: 100px;
        margin-left: 60px;
    }

    .slider-image {
        float: right;
        margin-top: -261px;
        position: relative;
        margin-right: -60px;
        height: auto;
    }

    .card-info {
        margin-top: -280px;
        /* Adjust the negative margin to overlap */
    }

    /* Our service starts */
    .card-group {
        display: flex;
    }

    .service .card {
        flex: 1;
        text-align: center;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card i {
        padding-top: 16px;
        font-size: 24px;
        /* Adjust the icon size */
        margin-bottom: 10px;
        /* Add margin below the icon */
    }

    .our-service-details .card {
        height: 300px;
        /* Set a fixed height for the cards */
        border-radius: 10px;
        /* Add border-radius for rounded corners */
        overflow: hidden;
        /* Hide overflowing content */
    }

    .our-service-details .card img {
        object-fit: cover;
        /* Maintain aspect ratio and cover the entire container */
        height: 100%;
        /* Set the image height to 100% of the container */
        width: 100%;
        /* Set the image width to 100% of the container */
    }

    .fixed-size-card {
        /*height: 100%;*/
        padding: 15px;
    }

    .fixed-size-card img {
        /*height: 250px;*/
        /* Set your desired fixed height for the image */
    }

    .fixed-size-card hr {
        width: 100%;
        /* Set the width of the line as needed */
        margin: 0 auto;
        /* Center the line within the card */
    }

    .fixed-size-card .card-body {
        text-align: center;
        /* Center-align the text */
        padding: 10px;
        /* Add padding for better aesthetics */
    }

    .card-link {
        text-decoration: none;
    }

    .our-service-details .card-body {
        /* display: block; */
        margin-bottom: 0px;
    }

    /* Add a tiny border between cards */
    .card:not(:last-child) {
        margin-right: 0px;
        /* Adjust the margin to control the space between cards */
    }

    /* Special offers */
    .credit-card {
        height: 400px;
        background-color: #2F0549;
    }

    /* Global-network */
    .global-network {
        margin-top: 220px;
    }

    /* Happy Customer */
    .happy-customer {
        margin-bottom: 0px;
    }

    .testimonial-item {
        margin: 0px 12px;
        display: flex;
    }


    /* Subcribe */
    .subscribe {
        position: relative;
        z-index: 2;
        margin-top: 0px;
    }

    /* Footer Section */
    .footer {
        background-color: #F8F8F8;
        color: #4F5665;
        padding: 20px 20px;
        height: 345px;
        z-index: 1;
        margin-top: -45px;
        /* Adjust the negative margin to intersect the footer in half */
    }

    .footer-logo {
        /* Adjust styles for your logo */
        display: block;
        /* width: 50px; 
        height: 50px;  */
        margin-bottom: 10px;
    }

    .footer-social-icons {
        /* Add your social icons styling */
        margin-top: 10px;
    }

    .footer-column {
        float: left;
        width: 25%;
        /* Adjust column width as needed */
        padding-top: 80px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 0px;
    }

    .footer-heading {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .footer-links {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .footer-links li {
        margin-bottom: 8px;
    }

    .footer-links a {
        color: #4F5665;
        text-decoration: none;
        display: block;
    }

    @media (max-width: 767px) {
        .footer {
            height: auto;
        }

        .footer-column {
            width: 100%;
            /* padding: 10px 0; */
            text-align: center;
        }
    }

    .user-location {
        position: absolute;
        bottom: -40px;
    }

    .location {
        padding-top: 18px;
        margin-bottom: 11px;
    }

    /* Small devices (portrait tablets and large phones, 600px and up) */
    /* @media only screen and (min-width: 600px) {
        
} */

    /* Medium devices (landscape tablets, 768px and up) */
    /* @media only screen and (min-width: 768px) {
   
} */

    /* slider dots */
    .hero-section .slick-dots {
        position: absolute;
        bottom: 240px;
        display: block;
        width: 100%;
        padding: 0;
        margin-left: 60px;
        list-style: none;
        text-align: left;
    }

    .hero-section .slick-dots li {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .hero-section .slick-dots li button:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        /*content: '•';*/
        text-align: center;
        opacity: 1;
        color: #ffffff;
        content: '';
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='white' stroke-width='25' stroke-dasharray='100%25%2c 13%25' stroke-dashoffset='100' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 100px;
    }

    .hero-section .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #ffc107;
        width: 20px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='orange' stroke-width='25' stroke-dasharray='100%25%2c 13%25' stroke-dashoffset='100' stroke-linecap='round'/%3e%3c/svg%3e");
        left: -5px;
    }

    .happy .slick-dots {
        position: absolute;
        bottom: -50px;
        display: block;
        width: 100%;
        padding: 0;
        /* margin-left: 60px; */
        list-style: none;
        text-align: left;
    }

    .happy .slick-dots li {
        position: relative;
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .happy .slick-dots li button:before {
        font-family: 'slick';
        font-size: 20px;
        line-height: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        /*content: '•';*/
        text-align: center;
        opacity: 1;
        color: #2f0549;
        content: '';
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='gray' stroke-width='25' stroke-dasharray='100%25%2c 13%25' stroke-dashoffset='100' stroke-linecap='round'/%3e%3c/svg%3e");
        border-radius: 100px;
    }

    .happy .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #2f0549;
        width: 20px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='indigo' stroke-width='25' stroke-dasharray='100%25%2c 13%25' stroke-dashoffset='100' stroke-linecap='round'/%3e%3c/svg%3e");
        left: -5px;
    }

    /* NFC Card Css */
    .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
        background-color: #2F0549;
    }

    .hero-text {
        max-width: 500px;
        padding-left: 90px;
    }

    .hero-heading {
        font-size: 36px;
        font-weight: bold;
        color: #ffff;
        margin-bottom: 20px;
    }

    .hero-description {
        font-size: 17px;
        color: #ffff;
        margin-bottom: 30px;
    }

    .hero-buttons {
        display: flex;
        gap: 20px;
    }

    .shop-card-btn {
        background-color: #FFA615 !important;
        color: #fff !important;
    }

    .see-guide-btn {
        background-color: #2F0549 !important;
        color: #FFA615 !important;
        border: 1px solid#FFA615 !important;
    }

    .card-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .user-location .card {
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
        justify-content: center;
    }

    /* Custom feature section styles */
    .feature-section {
        text-align: center;
        padding: 50px 0;
    }

    .feature-heading {
        font-size: 36px;
        font-weight: bold;
        color: #2F0549;
        margin-bottom: 30px;
    }

    .video-container {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    /* Custom "What You Get" section styles */
    .what-you-get-section {
        padding: 50px;
    }

    .section-heading {
        font-size: 36px;
        font-weight: bold;
        color: #2F0549;
        margin-bottom: 20px;
    }

    .feature-list {
        padding-top: 15px;
        padding-left: 30px;
    }

    .feature-list li {
        font-size: 18px;
        color: #555;
        margin-bottom: 10px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    /* pricing */
    .nfccard .card {
        height: 280px;
        /* Set a fixed height for the card */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nfccard .card-body {
        flex: 1;
        /* Allow the card body to take up the available space within the card */
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
    }

    .card-features {
        margin-bottom: 0;
        /* list-style-type: none;  */
        /* Remove bullet points for the list */
        padding: 0;
        /* Remove default padding for the list */
    }

    .card-features li {
        margin-bottom: 5px;
        /* Adjust the margin between each feature */
    }

    .btn-outline-primary {
        color: #2F0549 !important;
        border-color: #2F0549 !important;
    }

    .btn-outline-primary:hover {
        background-color: #2F0549 !important;
        color: #FFA615 !important;
    }

    .subscribe-section {
        padding: 40px;
    }

    .subscribe-content {
        padding: 50px 40px;
    }

    .subscribe-btn {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-us-btn {
        background-color: rgb(65, 72, 87) !important;
        color: white !important;
        border: 1px solid #2F0549 !important;
        /* padding: 10px 0px;  */
    }


    /* Shipping Service Css Start */
    .shipping .hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 20px;
        background-color: #ffffff;
    }

    .hero-content {
        flex: 1;
        padding-right: 50px;
    }

    .hero-image {
        padding-left: 70px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 8px;
    }

    .contact-btn {
        background-color: #2F0549 !important;
        color: #ffffff !important;
    }

    .learn-more-btn {
        background-color: #ffffff !important;
        color: #2F0549 !important;
        border: 2px solid #2F0549 !important;
    }

    /* service-section */
    .service-section {
        padding: 50px;
    }

    .service-item {
        display: inline;
    }

    /* shipping-section */
    .shipping-section {
        padding: 50px;
    }

    .input-group-prepend i {
        line-height: inherit;
        padding: 15px;
    }

    .shipping-row {
        padding-left: 70px !important;
    }

    .get-rate-btn {
        margin: 25px 4px !important;
        padding: 12px 20px !important;
        background-color: #2F0549 !important;
        color: white !important;
        border: 1px solid #2F0549 !important;
    }

    /* why-choose-us */
    .why-choose-us {
        padding: 50px;
    }

    .video-container {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .why-choose-us .benefits {
        padding: 60px !important;
    }

    /* Help */
    .help {
        padding: 50px;
        background-color: #2F0549;
        color: white;
        margin-bottom: -60px;
        z-index: 1;
        position: relative;
    }

    .help .container {
        position: relative;
        z-index: 2;
        /* Set a higher z-index than the footer */
        margin-top: -60px;
        /* Adjust the margin to overlap */
    }

    .help-content {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
    }

    .help-text {
        padding-right: 70px;
    }

    .btn-contact {
        background-color: white !important;
        color: #2F0549 !important;
    }

    /* Shipping Service Css End */


    /* LLC Service Css Start */
    /* hero-section */
    .llc-hero {
        position: relative;
        height: 420px;
        overflow: hidden;
    }

    .llc-hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(50%);
    }

    .llc-hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .llc-hero-content {
        max-width: 400px;
        /* Adjust the max-width according to your design */
        margin: 0 auto;
    }

    .llc-search-box {
        position: relative;
        display: inline-block;
        width: 280px;
    }

    .llc-search-icon,
    .llc-arrow-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        /* Adjust the size as needed */
        color: #555;
        /* Adjust the color as needed */
        cursor: pointer;
    }

    .llc-search-icon {
        left: 10px;
    }

    .llc-arrow-icon {
        right: 10px;
    }

    .llc-get-started-btn,
    .llc-register-btn {
        background-color: #FFA615 !important;
        color: #2F0549 !important;
        border: 1px solid #FFA615 !important;
    }

    /* Add responsive styles as needed */
    @media (max-width: 768px) {
        .llc-hero-text {
            max-width: 80%;
        }
    }

    /* service section */
    .llc-service {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-right: 0;
        padding-right: 0px;
    }

    .llc-service-text {
        padding-left: 10px;
    }

    .llc-service-image img {
        padding-left: 30px;
        padding-right: 10px;
    }

    /* how it's work */
    .llc-work-section {
        text-align: center;
        padding: 50px 0;
    }

    .llc-work-heading {
        font-size: 36px;
        font-weight: bold;
        color: #2F0549;
        margin-bottom: 30px;
    }

    .llc-video-container {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
    }

    .llc-video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Pricing plan */
    .llc-pricing-section {
        background-color: #fff;
        padding: 60px 0;
    }

    .llc-pricing-content {
        padding: 15px 20px;
    }

    .llc-pricing-card {
        border: 2px solid #2F0549;
        border-radius: 10px;
        overflow: hidden;
        transition: background-color 0.3s, color 0.3s;
    }

    .llc-pricing-card:hover {
        background-color: #2F0549;
        color: white;
    }

    .llc-pricing-card .card-body {
        padding: 20px;
    }

    .llc-pricing-card h3 {
        color: #2F0549;
    }

    .llc-pricing-card :hover h3 {
        color: white;
    }

    .llc-pricing-card hr {
        border-top: 2px solid #2F0549;
    }

    .llc-pricing-card ul {
        list-style: none;
        padding: 0;
    }

    .llc-pricing-card ul li {
        padding-left: 20px;
        position: relative;
        color: #2F0549;
    }

    .llc-pricing-card:hover ul li {
        color: white;
    }

    .llc-pricing-card button {
        background-color: #fff;
        color: #2F0549;
        border: 2px solid #2F0549;
        border-radius: 5px;
        padding: 10px 20px;
        transition: background-color 0.3s, color 0.3s;
    }




    /* Card section */
    .llc-our-card {
        padding: 0px 25px;
    }

    .llc-our-card-text {
        padding-top: 170px;
    }

    .llc-our-card-image img {
        width: 100%;
        height: auto;
    }

    .llc-contact-us {
        position: relative;
        height: 400px;
        /* Set your desired height */
        overflow: hidden;
        background: url('image/contact-image.png') no-repeat;
        display: flex;
        background-size: cover;
        background-position: center center;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .llc-contact-us-content {
        text-align: center;
        /* align-items: center; */
        /* justify-content: center; */
    }

    .llc-contact-us-content h2 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .llc-contact-us-content p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    .llc-contact-us-content button {
        background-color: #FFC107;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 1.2rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    /* LLC Service Css End */
    /* Phone Number Service Css start */
    /* hero-section */
    .phn-hero {
        position: relative;
        height: 480px;
        overflow: hidden;
    }

    .phn-hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(50%);
    }

    .phn-hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .phn-hero-content {
        max-width: 400px;
        /* Adjust the max-width according to your design */
        margin: 0 auto;
    }

    .phn-search-box {
        position: relative;
        display: inline-block;
        width: 280px;
    }

    .phn-search-icon,
    .phn-arrow-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        /* Adjust the size as needed */
        color: #555;
        /* Adjust the color as needed */
        cursor: pointer;
    }

    .phn-search-icon {
        left: 10px;
    }

    .phn-arrow-icon {
        right: 10px;
    }

    .phn-search-btn {
        background-color: #FFA615 !important;
        color: white !important;
        border: 1px solid #FFA615 !important;
    }

    .phn-pricing-btn {
        background-color: #2F0549 !important;
        color: white !important;
        border: 1px solid #2F0549 !important;
    }

    /* Add responsive styles as needed */
    @media (max-width: 768px) {
        .phn-hero-text {
            max-width: 80%;
        }
    }

    /* Service section */
    .phn-our-service {
        padding: 50px;
    }

    .phn-our-service-text {
        padding: 45px 40px 20px 15px;
    }

    .phn-our-service-image img {
        /* width: 100%; */
        height: 375px;
        max-width: 100%;
        padding-left: 20px;
        align-items: center;
        justify-content: center;
    }

    /* Our Customer */
    .phn-our-customer {
        margin-bottom: 0;
    }

    .phn-testimonial-slider {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .phn-testimonial-slider-container {
        max-width: 900px;
        /* Adjust the width as needed */
        margin: 0 auto;
        /* Center the container */
    }

    .phn-testimonial-item {
        margin-right: 15px;
        /* Add space between cards */
    }

    .phn-custom-card {
        background-color: #f3f3f3;
        border: none;
        margin-bottom: 20px;
        box-sizing: border-box;
        padding: 15px;
        width: calc(33.33% - 20px);
        /* Adjusted to make three cards fit in a row with margin between */
    }

    .phn-custom-card img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        width: 60px;
    }

    .phn-card-body {
        padding: 15px;
    }

    .phn-star-rating {
        color: green;
    }

    .phn-star {
        font-size: 20px;
    }

    /* Responsive adjustments */
    @media (max-width: 992px) {
        .phn-custom-card {
            width: calc(50% - 20px);
            /* Two cards in a row on medium screens */
        }
    }

    @media (max-width: 768px) {
        .phn-custom-card {
            width: calc(100% - 20px);
            /* Single card in a row on small screens */
        }
    }

    /* @media (max-width: 1366px) {
        .phn-custom-card {
            width: calc(75% - 20px);
        }
    } */



    /* Subscribe section */
    .phn-subscribe-section {
        padding: 40px;
    }

    .phn-subscribe-content {
        padding: 50px 40px;
    }

    .phn-subscribe-btn {
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 35px;
        padding-right: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .phn-contact-us-btn {
        background-color: #57356C !important;
        color: white !important;
        border: 1px solid #57356C !important;
        /* padding: 10px 0px;  */
    }

    /* Phone Number Service Css End */

    /* Smart Mail Service Css Start */
    /* Hero section */
    .smart-mail-hero {
        padding: 50px 0;
        /* Adjust as needed */
    }

    .left-content {
        padding-right: 20px;
        padding-top: 90px;
        padding-left: 20px;
    }

    .smart-mail-hero-image img {
        max-width: 100%;
        padding-left: 65px;
    }

    .smart-search-box {
        display: flex;
    }

    .smart-btn-claim-now {
        margin-left: 10px;
        background-color: #2F0549 !important;
        color: white !important;
        border: 1px solid #2F0549 !important;
        border-radius: 4px;
    }

    .smart-btn-contact-us {
        background-color: #FFA615 !important;
        color: white !important;
    }

    .btn-view-plan,
    .btn-sign-up {
        background-color: #2F0549 !important;
        color: white !important;
    }

    /* Sign Up section */
    .sign-up {
        /* padding: 50px; */
        /* padding-left: 5px; */
        background-color: #2F0549;
        color: white;
        position: relative;
        /* height: 350px; */
        max-width: 100%;
    }

    .white-shape img {
        padding-bottom: 10px;
        margin-left: 0px;
        height: 275px;
    }

    .sign-up .container {
        position: relative;
    }

    .sign-up-content {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
    }

    .sign-up-text {
        padding: 60px;
    }

    .btn-contact {
        background-color: white !important;
        color: #2F0549 !important;
    }

    /* SMS Service */
    .sms-image img {
        padding-left: 10px;
        margin-right: 0px;
    }

    /* Smart Mail Service Css End */
    /* Printing Service Css Start */
    /* Hero section */
    .print-hero-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-right: 20px;
        background-color: #ffffff;
    }

    .print-hero-content {
        flex: 1;
        padding-right: 50px;
    }

    .print-hero-image {
        padding-left: 70px;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .print-btn {
        display: inline-block;
        padding: 10px 20px;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 8px;
    }

    .print-contact-btn {
        background-color: #2f0549 !important;
        color: #ffffff !important;
    }

    .print-learn-more-btn {
        background-color: #ffffff !important;
        color: #2f0549 !important;
        border: 2px solid #2f0549 !important;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    /* why-choose-us */
    .print-why-choose-us {
        padding: 50px;
    }

    .print-video-container {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
    }

    .print-video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* Feature section */
    .print-features {
        padding: 50px;
        background-color: #2f0549;
        text-align: center;
    }

    .print-feature-text {
        color: #ffffff;
    }

    /* Product section */
    .print-product-section {
        /* padding: 50px; */
        background-color: white;
        text-align: center;
    }

    .print-product-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .print-product-card {
        width: 220px !important;
        height: 315px !important;
        border: 1px solid #ddd;
        background-color: #fff;
        text-align: center;
    }

    .print-product-image {
        max-width: 100%;
        height: 200px;
        border-radius: 2px;
        margin-bottom: 10px;
    }

    .print-product-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .print-product-price {
        color: #007bff;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .print-product-review {
        color: #ffd700;
    }

    /* Custom CSS for responsive styling */
    .carousel-inner .carousel-item {
        display: flex;
    }

    .carousel-inner .carousel-item .print-custom-card {
        flex: 0 0 30%;
        /* Adjusted to make three cards fit in a row with margin between */
        margin-right: 2%;
    }

    .carousel-inner .carousel-item .print-custom-card:last-child {
        margin-right: 0;
    }

    .print-custom-card {
        background-color: #f3f3f3;
        border: none;
        margin-bottom: 20px;
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
    }

    .print-custom-card img {
        border-radius: 50%;
        max-width: 100%;
        height: auto;
        width: 60px;
    }

    .print-card-body {
        padding: 15px;
    }

    /* Carousel controls position */
    .carousel-controls {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .carousel-controls button {
        margin-right: 10px;
    }

    /* Responsive adjustments */
    @media (max-width: 992px) {
        .carousel-inner .carousel-item .print-custom-card {
            flex: 0 0 48%;
            /* Two cards in a row on medium screens */
        }
    }

    @media (max-width: 768px) {
        .carousel-inner .carousel-item .print-custom-card {
            flex: 0 0 100%;
            /* Single card in a row on small screens */
            margin-right: 0;
        }
    }

    /* Subscribe section */
    .print-subscribe-section {
        padding: 40px;
    }

    .print-subscribe-content {
        padding: 50px 40px;
    }

    .print-subscribe-btn {
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .print-contact-us-btn {
        background-color: rgb(65, 72, 87) !important;
        color: white !important;
        border: 1px solid #2f0549 !important;
        /* padding: 10px 0px;  */
    }
    .product-image-container {
        position: relative;
        overflow: hidden;
    }

    .hover-buttons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .product-image-container:hover .hover-buttons {
        opacity: 1;
    }



    

    /* Printing Service Css End */
